<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.completion.xml" version="0.0.1" class="net.sf.xpontus.plugins.codecompletion.xml.XMLCodeCompletionPlugin">
    <attributes>
        <attribute id = "Built-in" value = "false"/>
        <attribute id="Category" value = "Completion"/>  
        <attribute id = "Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id = "Description" value = "Code completion support for XML documents"/>
        <attribute id = "DisplayName" value = "XML code completion"/>
        <attribute id = "License" value = "http://www.gnu.org/licenses/gpl-2.0.txt"/>
        <attribute id = "date" value = "26-02-2008"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.outline.xml" />
        <import plugin-id="plugin.core.completion" />
    </requires>
    <runtime> 
        <library id="plugin.core.completion.xml.lib" path="lib/xml_completion_plugin-1.0-0-pre1.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="dtdparser" path="lib/dtdparser-1.21.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="xsd4j" path="lib/xsd4j-0.3.jar" type="code" > 
            <export prefix="*"/>
        </library>  
    </runtime>
    <extension plugin-id="plugin.core.completion" point-id="completionpluginif"  id="plugin.core.completion.xml">
        <parameter id="class"  value="net.sf.xpontus.plugins.codecompletion.xml.XMLCodeCompletionPluginImpl" /> 
    </extension>
    
</plugin>