<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://xpontus.sourceforge.net/snapshot/"
    href="$outputFile">
  <information>
    <title>XPontus XML Editor</title>
    <vendor>Yves Zoundi</vendor>
    <homepage>http://xpontus.sourceforge.net/snapshot/</homepage>
    <description kind="one-line">A free Java Based XML Editor</description>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <property name="xpontus.isJavaWebStartLaunch" value="true"/>
    <j2se version="1.4+" initial-heap-size="32m" max-heap-size="256m"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"> 
  </application-desc>
</jnlp>