<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://localhost:8080/xpontus/jnlp/"
    href="$outputFile">
  <information>
    <title>XPontus XML Editor</title>
    <vendor>Yves Zoundi<vendor/>
    <homepage>http://localhost:8080/xpontus/</homepage>
    <description kind="one-line">A free Java Based XML Editor</description>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.4+"
     initial-heap-size="32m"
     max-heap-size="256m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"> 
  </application-desc>
</jnlp>