<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.lexer.dtd" version="0.0.1" class="net.sf.xpontus.plugins.lexer.dtd.DTDLexerPlugin">
    	<requires>
		<import plugin-id="plugin.core.lexer" />
	</requires>
	<runtime> 
		<library id="plugin.lexer.dtd.lib" path="lib/dtd_plugin-1.0.0-pre1.jar" type="code">
			   <export prefix="*"/> 
		</library>  
	</runtime>
	<extension plugin-id="plugin.core.lexer" point-id="lexerpluginif" id="plugin.lexer.dtd.extension">
		<parameter id="class" value="net.sf.xpontus.plugins.lexer.dtd.DTDParser" /> 
	</extension>
</plugin>