<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.scenarios.stx" version="0.0.1" class="net.sf.xpontus.plugins.scenarios.stx.STXTransformationPlugin">
    <attributes>
        <attribute id = "Built-in" value = "false"/>
        <attribute id="Category" value = "Transformation"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.scenarios" />
    </requires>
    <runtime> 
        <library id="plugin.core.scenarios.stx.lib" path="lib/stx_plugin-1.0.0-pre1.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="joost" path="lib/joost-20070718.jar" type="code" > 
            <export prefix="*"/>
        </library>   
    </runtime>
    <extension plugin-id="plugin.core.scenarios" point-id="scenariopluginif"  id="plugin.core.scenarios.stx">
        <parameter id="class"  value="net.sf.xpontus.plugins.scenarios.stx.STXTransformationPluginImpl" /> 
    </extension> 
</plugin>