<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.menubar.schema_converter_plugin" version="0.0.1" class="net.sf.xpontus.plugins.schema_converter_plugin.SchemaGenerationPlugin">      
     <attributes>
        <attribute id = "Category" value="Tools"/>
        <attribute id = "Built-in" value = "false"/>
        <attribute id="Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id="Description" value = "Schema converter plugin"/>
        <attribute id = "DisplayName" value = "Schema converter plugin"/>
        <attribute id = "License" value = "http://www.gnu.org/licenses/gpl-2.0.txt"/>
        <attribute id = "date" value = "26-02-2008"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.actions" />
    </requires>
    <runtime> 
        <library id="schema_converter_plugin" path="lib/schema_converter_plugin-1.0.0-pre1.jar" type="code">
            <export prefix="*"/> 
        </library> 
          <library id="trang" path="lib/trang.jar" type="code">
            <export prefix="*"/> 
        </library> 
    </runtime>
    <extension plugin-id="plugin.core.actions" point-id="actionpluginif" id="schema_converter_plugin">
        <parameter id="class" value="net.sf.xpontus.plugins.schema_converter_plugin.SchemaGenerationPluginImpl" /> 
    </extension>
</plugin>