<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.scenarios" version="0.0.1" class="net.sf.xpontus.plugins.scenarios.ScenarioPlugin"> 
    <attributes>
        <attribute id = "Category" value="Transformation"/>
        <attribute id = "Built-in" value = "true"/>
        <attribute id="Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id="Description" value = "Transformation plugin"/>
        <attribute id = "DisplayName" value = "Transformation plugin"/>
    </attributes>
    <runtime>
        <library type="code" path="." id="plugin.core.scenarios"> 
            <export prefix="*"/> 
        </library>
    </runtime> 
    <extension-point id="scenariopluginif">
        <parameter-def id="class" />
    </extension-point>
</plugin>