<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.indentation.xml" vendor="Yves Zoundi" version="0.0.1" class="net.sf.xpontus.plugins.indentation.xml.XMLIndentationPlugin">
    <attributes>
        <attribute id = "Category" value="Indentation"/>
        <attribute id = "Built-in" value = "true"/>
        <attribute id = "Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id = "Description" value = "XML indenter plugin"/>
        <attribute id = "DisplayName" value = "Indentation of XML documents"/>
        <attribute id = "License" value = "http://www.gnu.org/licenses/gpl-2.0.txt"/>
        <attribute id = "date" value = "26-02-2008"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.indentation" />
        <import plugin-id="plugin.core.preferences"/>
    </requires>
    <runtime>  
        <library id="plugin.indentation.xml.lib" path="lib/xml_indentation_plugin-1.0.0-pre1.jar" type="code">
            <export prefix="*"/> 
        </library> 
    </runtime>
    <extension plugin-id="plugin.core.preferences" point-id="preferencespluginif"  id="plugin.indentation.xml.preferences">
        <parameter id="class"  value="net.sf.xpontus.plugins.indentation.xml.XMLIndentationPreferences" /> 
    </extension> 
    <extension plugin-id="plugin.core.indentation" point-id="indentationpluginif" id="plugin.indentation.xml">
        <parameter id="class" value="net.sf.xpontus.plugins.indentation.xml.XMLIndentationPluginImpl" /> 
    </extension>
</plugin>