<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.menubar.batchvalidationplugin" version="0.0.1" class="net.sf.xpontus.plugins.validation.batchvalidation.BatchValidationPlugin">      
    <attributes>
        <attribute id = "Category" value="Validation"/>
        <attribute id = "Built-in" value = "false"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.menubar" />
    </requires>
    <runtime> 
        <library id="batchvalidationplugin" path="lib/batchvalidation_plugin-1.0.0-pre1.jar" type="code">
            <export prefix="*"/> 
        </library> 
    </runtime>
    <extension plugin-id="plugin.core.menubar" point-id="menubarpluginif" id="batchvalidationplugin">
        <parameter id="class" value="net.sf.xpontus.plugins.validation.batchvalidation.BatchValidationPluginImpl" /> 
    </extension>
</plugin>