<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.browser" version="0.0.1" class="net.sf.xpontus.plugins.pluginsbrowser.browser.PBPlugin">
    <attributes>
        <attribute id="Category" value = "Tools"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.menubar" />
    </requires>
    <runtime> 
        <library id="plugin.browser.lib" path="lib/browser.jar" type="code" > 
            <export prefix="*"/>
        </library> 
        <library id="jung" path="lib/jung-1.7.6.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="colt" path="lib/colt-1.2.0.jar" type="code" > 
            <export prefix="*"/>
        </library> 
    </runtime>
    <extension plugin-id="plugin.core.menubar" point-id="menubarpluginif"  id="pluginBrowserTool">
        <parameter id="class"  value="net.sf.xpontus.plugins.pluginsbrowser.browser.PBTool" /> 
    </extension>
    
</plugin>