<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.browser" version="0.0.1" class="net.sf.xpontus.plugins.pluginsbrowser.browser.PBPlugin">
        <requires>
		<import plugin-id="plugin.core.menubar" />
	</requires>
        <runtime> 
            <library id="plugin.browser" path="lib/plugin-browser.jar" type="code" /> 
        </runtime>	
	<extension plugin-id="plugin.core.menubar" point-id="menubarpluginif"  id="pluginBrowserTool">
		<parameter id="class"  value="net.sf.xpontus.plugins.pluginsbrowser.browser.PBTool" /> 
	</extension>

</plugin>