<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.scenarios.fop" vendor="Yves Zoundi" version="0.0.1" class="net.sf.xpontus.plugins.scenario.fop.fop_plugin.FOPTransformationPlugin">
    <attributes>
        <attribute id = "Built-in" value = "false"/>
        <attribute id="Category" value = "Transformation"/>
        <attribute id="Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id="Description" value = "FOP transformation plugin"/>
        <attribute id = "DisplayName" value = "FOP transformation plugin"/>
        <attribute id = "License" value = "http://www.gnu.org/licenses/gpl-2.0.txt"/>
        <attribute id = "date" value = "26-02-2008"/>
    </attributes>
    <requires> 
        <import plugin-id="plugin.core.preferences"/>
        <import plugin-id="plugin.core.scenarios" />
    </requires>
    <runtime> 
        <library id="plugin.core.scenarios.fop.lib" path="lib/fop_plugin-1.0.0-pre1.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="fop" path="lib/fop-0.20.5.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="batik-1.5-fop" path="lib/batik-1.5-fop-0.20-5.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="avalon-framework-api"  path="lib/avalon-framework-api-4.1.5.jar" type="code" > 
            <export prefix="*"/>
        </library>  
        <library id="avalon-framework-impl"  path="lib/avalon-framework-impl-4.1.5.jar" type="code" > 
            <export prefix="*"/>
        </library>  
    </runtime>
    <extension plugin-id="plugin.core.preferences" point-id="preferencespluginif"  id="plugin.core.scenarios.fop.preferences">
        <parameter id="class"  value="net.sf.xpontus.plugins.scenario.fop.fop_plugin.FOPConfigurationPanel" /> 
    </extension> 
    <extension plugin-id="plugin.core.scenarios" point-id="scenariopluginif"  id="plugin.core.scenarios.fop">
        <parameter id="class"  value="net.sf.xpontus.plugins.scenario.fop.fop_plugin.FOPTransformationPluginImpl" /> 
    </extension> 
</plugin>