<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.gendoc.dtddoc" version="0.0.1" vendor="Yves Zoundi" class="net.sf.xpontus.plugins.gendoc.dtddoc.DTDDocPlugin">      
     <attributes>
        <attribute id = "Category" value = "Documentation"/>
        <attribute id = "Built-in" value = "false"/>
        <attribute id = "Homepage" value = "http://xpontus.sourceforge.net/index.html"/>
        <attribute id = "Description" value = "DTD documentation generator"/>
        <attribute id = "DisplayName" value = "DTD documentation generator"/>
    </attributes>
    <requires>
        <import plugin-id="plugin.core.gendoc" /> 
    </requires>
    <runtime> 
        <library id="dtddocplugin" path="lib/dtddoc_plugin-1.0.0-pre1.jar" type="code">
            <export prefix="*"/> 
        </library> 
        <library id="dtddoclib" path="lib/DTDDoc-1.0.0.jar" type="code">
            <export prefix="*"/> 
        </library>  
        <library id="dtdparser-1.20-dtddoc" path="lib/dtdparser-1.20-dtddoc.jar" type="code">
            <export prefix="*"/> 
        </library>  
    </runtime>
    <extension plugin-id="plugin.core.gendoc" point-id="gendocpluginif" id="dtddocplugin">
        <parameter id="class" value="net.sf.xpontus.plugins.gendoc.dtddoc.DTDDocPluginImpl" /> 
    </extension>
</plugin>