<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.themes.jgoodies" version="0.0.1" class="net.sf.xpontus.plugins.themes.jgoodies.JGoodiesThemePlugin">
    	<requires>
		<import plugin-id="plugin.core.themes" />
	</requires>
	<runtime> 
		<library id="plugin.themes.jgoodies.core" path="lib/jgoodies_theme_plugin-1.0.0-pre1.jar" type="code">
			   <export prefix="*"/> 
		</library> 
               <library id="looks" path="lib/looks-2.1.2.jar" type="code">
			   <export prefix="*"/> 
		</library> 
	</runtime>
	<extension plugin-id="plugin.core.themes" point-id="themepluginif" id="plugin.themes.jgoodies">
		<parameter id="class" value="net.sf.xpontus.plugins.themes.jgoodies.JGoodiesThemePluginImpl" /> 
	</extension>
</plugin>