<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="plugin.core.menubar.schemavalidationplugin" version="0.0.1" class="net.sf.xpontus.plugins.validation.schemavalidation.SchemaValidationPlugin">      
    <requires>
        <import plugin-id="plugin.core.menubar" />
    </requires>
    <runtime> 
        <library id="schemavalidationplugin" path="lib/schemavalidation_plugin-1.0.0-pre1.jar" type="code">
            <export prefix="*"/> 
        </library> 
        <library id="isorelax" path="lib/isorelax-20050913.jar" type="code">
            <export prefix="*"/> 
        </library> 
        <library id="msv" path="lib/msv-20050913.jar" type="code">
            <export prefix="*"/> 
        </library> 
        <library id="relaxngDatatype" path="lib/relaxngDatatype-20050913.jar" type="code">
            <export prefix="*"/> 
        </library> 
         <library id="xsdlib" path="lib/xsdlib-20050913.jar" type="code">
            <export prefix="*"/> 
        </library> 
    </runtime>
    <extension plugin-id="plugin.core.menubar" point-id="menubarpluginif" id="schemavalidationplugin">
        <parameter id="class" value="net.sf.xpontus.plugins.validation.schemavalidation.SchemaValidationPluginImpl" /> 
    </extension>
</plugin>